<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.13730657587678863" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.13730657587678863" rpy="0 0 0"/>
            <geometry>
                <box size="0.790608831038409 0.835603840051536 0.0839546982874605" />
            </geometry>
            <material name="sensor">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.13730657587678863" rpy="0 0 0"/>
            <geometry>
                <box size="0.790608831038409 0.835603840051536 0.0839546982874605" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="0 0 0.17928392502051888" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="1">
        <inertial>
            <origin xyz="0 0 0.15964721598598952" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.15964721598598952" rpy="0 0 0"/>
            <geometry>
                <box size="0.7247148978491228 0.599737426566102 0.31929443197197904" />
            </geometry>
            <material name="sensor">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.15964721598598952" rpy="0 0 0"/>
            <geometry>
                <box size="0.7247148978491228 0.599737426566102 0.31929443197197904" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="0.3623574489245614 0 0.15964721598598952" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="0.4625151424731461 0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.4625151424731461 0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9250302849462921 0.33695886097405614 0.19892782799161912" />
            </geometry>
            <material name="not">
                <color rgba="0 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.4625151424731461 0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9250302849462921 0.33695886097405614 0.19892782799161912" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="0.9250302849462924 0 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="0.39321520081226136 0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.39321520081226136 0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7864304016245228 0.17768433559743768 0.17073578059284356" />
            </geometry>
            <material name="sensor">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.39321520081226136 0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7864304016245228 0.17768433559743768 0.17073578059284356" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="0.39321520081226136 0 0.08536789029642178" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="0.0 0 0.34086488559904554" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0 0.34086488559904554" rpy="0 0 0"/>
            <geometry>
                <box size="0.642344152679042 0.4418889013655539 0.681729771198091" />
            </geometry>
            <material name="not">
                <color rgba="0 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0 0.34086488559904554" rpy="0 0 0"/>
            <geometry>
                <box size="0.642344152679042 0.4418889013655539 0.681729771198091" />
            </geometry>
        </collision>
    </link>
    <joint name="4_6" type="revolute">
       <parent link="4"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="0.0 0 0.681729771198091" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="0.0 0 0.3404925716915628" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0 0.3404925716915628" rpy="0 0 0"/>
            <geometry>
                <box size="0.5177605718484923 0.842909673462047 0.6809851433831255" />
            </geometry>
            <material name="not">
                <color rgba="0 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0 0.3404925716915628" rpy="0 0 0"/>
            <geometry>
                <box size="0.5177605718484923 0.842909673462047 0.6809851433831255" />
            </geometry>
        </collision>
    </link>
    <joint name="2_5" type="revolute">
       <parent link="2"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="0.4625151424731461 0.16847943048702807 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="0.0 0.23313277163962398 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.23313277163962398 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3596217620188332 0.46626554327924796 0.24747590798785246" />
            </geometry>
            <material name="not">
                <color rgba="0 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.23313277163962398 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3596217620188332 0.46626554327924796 0.24747590798785246" />
            </geometry>
        </collision>
    </link>
</robot>