<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.9184820619953314" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.9184820619953314" rpy="0 0 0"/>
            <geometry>
                <box size="0.35855530131160185 0.7315983062253606 0.8383265651934163" />
            </geometry>
            <material name="not">
                <color rgba="0 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.9184820619953314" rpy="0 0 0"/>
            <geometry>
                <box size="0.35855530131160185 0.7315983062253606 0.8383265651934163" />
            </geometry>
        </collision>
    </link>
    <joint name="0_2" type="revolute">
       <parent link="0"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="0 0 0.4993187793986233" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="0 0 -0.08740974222572057" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.08740974222572057" rpy="0 0 0"/>
            <geometry>
                <box size="0.596791393469411 0.44231403369907896 0.17481948445144113" />
            </geometry>
            <material name="sensor">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.08740974222572057" rpy="0 0 0"/>
            <geometry>
                <box size="0.596791393469411 0.44231403369907896 0.17481948445144113" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="0.2983956967347055 0 -0.08740974222572057" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="0.07670638546571212 0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.07670638546571212 0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.15341277093142425 0.6908227578732097 0.4579542036471842" />
            </geometry>
            <material name="sensor">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.07670638546571212 0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.15341277093142425 0.6908227578732097 0.4579542036471842" />
            </geometry>
        </collision>
    </link>
    <joint name="3_6" type="revolute">
       <parent link="3"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="0.07670638546571212 0 0.2289771018235921" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="0.0 0 0.3263216902040347" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0 0.3263216902040347" rpy="0 0 0"/>
            <geometry>
                <box size="0.2907503766120211 0.6158171332106762 0.6526433804080692" />
            </geometry>
            <material name="sensor">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0 0.3263216902040347" rpy="0 0 0"/>
            <geometry>
                <box size="0.2907503766120211 0.6158171332106762 0.6526433804080692" />
            </geometry>
        </collision>
    </link>
    <joint name="2_5" type="revolute">
       <parent link="2"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="0 0 -0.17481948445144113" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="0 0 -0.14555520769743274" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.14555520769743274" rpy="0 0 0"/>
            <geometry>
                <box size="0.2960426090666165 0.6344230252613314 0.2911104153948655" />
            </geometry>
            <material name="not">
                <color rgba="0 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.14555520769743274" rpy="0 0 0"/>
            <geometry>
                <box size="0.2960426090666165 0.6344230252613314 0.2911104153948655" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="0 -0.3657991531126803 0.9184820619953314" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="1">
        <inertial>
            <origin xyz="0 -0.0791043149136923 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.0791043149136923 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7886482900098098 0.1582086298273846 0.16195407019788421" />
            </geometry>
            <material name="sensor">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.0791043149136923 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7886482900098098 0.1582086298273846 0.16195407019788421" />
            </geometry>
        </collision>
    </link>
</robot>