<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.7237696728693049" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.7237696728693049" rpy="0 0 0"/>
            <geometry>
                <box size="0.035499411707764605 0.4087264177220743 0.111174967229976" />
            </geometry>
            <material name="not">
                <color rgba="0 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.7237696728693049" rpy="0 0 0"/>
            <geometry>
                <box size="0.035499411707764605 0.4087264177220743 0.111174967229976" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="0.017749705853882303 0 0.7237696728693049" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="1">
        <inertial>
            <origin xyz="0.009900894693136486 0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.009900894693136486 0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.019801789386272972 0.750585192676823 0.10522430552060624" />
            </geometry>
            <material name="sensor">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.009900894693136486 0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.019801789386272972 0.750585192676823 0.10522430552060624" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="0.009900894693136486 0.3752925963384115 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="0.0 0.32087937884033735 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.32087937884033735 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.309726070877413 0.6417587576806747 0.21244974199448974" />
            </geometry>
            <material name="sensor">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.32087937884033735 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.309726070877413 0.6417587576806747 0.21244974199448974" />
            </geometry>
        </collision>
    </link>
    <joint name="2_4" type="revolute">
       <parent link="2"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="0.1548630354387065 0.32087937884033735 0.0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="0.1382211329459368 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.1382211329459368 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2764422658918736 0.30890335476651076 0.8640186270005916" />
            </geometry>
            <material name="sensor">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.1382211329459368 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2764422658918736 0.30890335476651076 0.8640186270005916" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="-0.1548630354387065 0.32087937884033735 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="-0.3733513215330648 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.3733513215330648 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7467026430661294 0.7339940334270677 0.9832229390295343" />
            </geometry>
            <material name="not">
                <color rgba="0 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.3733513215330648 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7467026430661294 0.7339940334270677 0.9832229390295343" />
            </geometry>
        </collision>
    </link>
</robot>