<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.7598265384186533" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.7598265384186533" rpy="0 0 0"/>
            <geometry>
                <box size="0.6743948533267442 0.40982210082696424 0.46146135434789026" />
            </geometry>
            <material name="sensor">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.7598265384186533" rpy="0 0 0"/>
            <geometry>
                <box size="0.6743948533267442 0.40982210082696424 0.46146135434789026" />
            </geometry>
        </collision>
    </link>
    <joint name="0_4" type="revolute">
       <parent link="0"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="0 -0.20491105041348212 0.7598265384186533" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="0 -0.3271751918062956 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.3271751918062956 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.10464882537056197 0.6543503836125912 0.13980320808283186" />
            </geometry>
            <material name="sensor">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.3271751918062956 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.10464882537056197 0.6543503836125912 0.13980320808283186" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="-0.3371974266633721 0 0.7598265384186533" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="1">
        <inertial>
            <origin xyz="-0.4053321574285354 0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.4053321574285354 0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8106643148570709 0.9230249136881828 0.8193074551271502" />
            </geometry>
            <material name="not">
                <color rgba="0 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.4053321574285354 0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8106643148570709 0.9230249136881828 0.8193074551271502" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="-0.4053321574285354 0.4615124568440914 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="0.0 0.4324391250203416 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.4324391250203416 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7371654937295188 0.8648782500406832 0.6054038408902964" />
            </geometry>
            <material name="not">
                <color rgba="0 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.4324391250203416 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7371654937295188 0.8648782500406832 0.6054038408902964" />
            </geometry>
        </collision>
    </link>
    <joint name="1_6" type="revolute">
       <parent link="1"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="-0.4053321574285354 0 0.409653727563575" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="0.0 0 0.13851585008456158" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0 0.13851585008456158" rpy="0 0 0"/>
            <geometry>
                <box size="0.0667108616587041 0.510114853652441 0.27703170016912304" />
            </geometry>
            <material name="not">
                <color rgba="0 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0 0.13851585008456158" rpy="0 0 0"/>
            <geometry>
                <box size="0.0667108616587041 0.510114853652441 0.27703170016912304" />
            </geometry>
        </collision>
    </link>
    <joint name="1_5" type="revolute">
       <parent link="1"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="-0.4053321574285354 -0.4615124568440914 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="0.0 -0.04788142812361834 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.04788142812361834 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.07062704335134729 0.09576285624723657 0.47226492757434135" />
            </geometry>
            <material name="sensor">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.04788142812361834 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.07062704335134729 0.09576285624723657 0.47226492757434135" />
            </geometry>
        </collision>
    </link>
    <joint name="1_3" type="revolute">
       <parent link="1"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="-0.8106643148570709 0 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="-0.2379896885804038 0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.2379896885804038 0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4759793771608075 0.8638935591732773 0.9743951616787535" />
            </geometry>
            <material name="sensor">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.2379896885804038 0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4759793771608075 0.8638935591732773 0.9743951616787535" />
            </geometry>
        </collision>
    </link>
    <joint name="3_7" type="revolute">
       <parent link="3"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="-0.2379896885804038 0 -0.48719758083937675" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="0.0 0 -0.32986385233571014" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0 -0.32986385233571014" rpy="0 0 0"/>
            <geometry>
                <box size="0.673216682425128 0.38005254437010483 0.6597277046714203" />
            </geometry>
            <material name="sensor">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0 -0.32986385233571014" rpy="0 0 0"/>
            <geometry>
                <box size="0.673216682425128 0.38005254437010483 0.6597277046714203" />
            </geometry>
        </collision>
    </link>
</robot>